/*
global styles,
variables,
buttons,
forms
*/

/* ======================
   Patient styles
====================== */


/* ======================
   Doctor styles
====================== */


/* ======================
   Admin styles
====================== */